
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

/*==============================
 General Styling & Decorative Elements
================================*/
* {
  box-sizing: border-box;
}



body {
  /* by setting height, we solve problem of
  background pattern repeating itself with
  obvious, ugly break point.*/
  font-family: 'Caveat', cursive;
  font-size: 160%;
  height: 100%;
  width: 100%;
  color: rgba(0,0,0,.95);
  cursor: url('/pencil.png') 0 13, crosshair;
  touch-action: none;
}

#app {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#todoodles-paper {
  position: relative;
  display: block;
  height: 92%;
  width: 96%;
  padding: 0;
  margin: .5rem auto;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
  background-color: rgba(255, 254, 224, 1);  /* Fallback */
  background: repeating-linear-gradient(rgba(255, 254, 224, 1),
                                        rgba(255, 254, 224, 1) 24px,
                                        rgba(145, 152, 229, .2) 24px,
                                        rgba(145, 152, 229, .2) 25px);
}

.red-line {
  border-left: 1pt solid rgba(255, 0, 0, .25);
  height: 100%;
  position: absolute;
  top: 0;
  left: 6rem;
}

.content-container {
  display: block;
  position: relative;
  margin-left: 5rem;
  margin-top: 1rem;
}

/* not using now but keep for future*/
.scribble {
  width: 8rem;
}

/*==============================
 Drawing Canvas via Fabric.js
================================*/
#canvas {
  position: absolute;
  left: 0;
  top: 0;
  cursor: url('/pencil.png') 0 13, crosshair;
}

/*==============================
 Header
================================*/
.header {
 margin-left: 1rem;

}

h1 {
 font-weight: 400;
 margin-top: -1rem;
 margin-bottom: -.5rem;
 margin-left: 2rem;
 padding-top: 2rem;
}

img.scribble-underline {
  padding-left: 1.5rem;
  width: 12rem;
}

/*==============================
 Input Form
================================*/
input.todo-item-form {
  display: block;
}

.input-field {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 70%;
  width: 170pt;
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position:absolute;
  z-index: 10;
}

/* not using at the moment but keep in case you change mind */
.submit-button {
/*  background-color: rgba(0, 0, 0, 1);
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70%;
  font-weight: bold;
  margin-left: .5rem;*/
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Black */
}

/*==============================
 list
================================*/
.todolist {
  display: block;
  margin-top: 4rem;
  position: relative;
  z-index: 1;
}

/*==============================
 X delete buttons
================================*/
.delete-x {
  border: 0;
  margin-left: 1.5rem;
  margin-right: 1.3rem;
  background-color: rgba(255, 254, 224, 0.001);
  font-size: 90%;
  font-weight: 700;
  cursor: pointer;
}

.delete-x:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/*==============================
 ToDo List Item
================================*/
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  /*line-height: ;*/
}

.todo-item {
  /*cursor: pointer;*/
}

/*==============================
 Strike-through line
================================*/
/* The span makes the line fit the length of todo list item */
span {
  position: relative;
}

.strikethrough:before {
  content: '';
  position: absolute;
  height: 5px; /* the thickness of the line */
  top: 50%;
  margin-top: -0.5px;
  background: #000; /* the color of the line */
  left: -3.5px;
  width: 105%;
  animation: drawline 0.4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes drawline {
    from {width: 0;}
    to {width: 105%;}
}

@keyframes drawline {
    from {width: 0;}
    to {width: 105%;}
}


/*==============================
 Footer
================================*/
footer {
  display: block;
  position: relative;
  /*padding: .25rem;*/
}

.footer-content {
  text-align: right;
  font-size: 80%;
  font-weight: 400;
  margin: .25rem .5rem;
}

span.footer-link a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

span.footer-link a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.fa-heart {
  font-size: 70%;
}

/*******************************
 Media Queries
********************************/

@media only screen and (max-width: 500px) {

  body {
    top: 1rem;
    font-size: 130%
  }

  #todoodles {
    padding: 1rem;
  }

  .content-container {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .red-line {
    left: 12%;
  }

  div.header {
    margin: auto;
    text-align: center;
  }

  h1 {
    padding-top: 1rem;
    margin: 0 auto;
    /*text-align: center;*/
  }

  img.scribble-underline {
    width: 10rem;
  }

   .input-field {
     margin-left: 1rem;
   }

   .todolist {
      top: 21%;
   }

   button.delete-x {
     margin-left: .5rem;
     margin-right: .5rem;
   }

  footer {

  }

  .footer-content {

  }

}
































