

/*==============================
 General Styling
================================*/
body {
  background-color: rgba(255, 254, 224, 1);  /* Fallback */
  background: repeating-linear-gradient(rgba(255, 254, 224, 1),
                                        rgba(255, 254, 224, 1) 24px,
                                        rgba(145, 152, 229, .2) 24px,
                                        rgba(145, 152, 229, .2) 25px);


  /* by setting height, we solve problem of
  background pattern repeating itself with
  obvious, ugly break point.*/
  top: 4rem;
  height: 100vh;
  padding: 1rem 1rem 1rem 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'EB Garamond', serif;
  font-size: 140%
}

div.red-line {
  border-left: 1pt solid rgba(255, 0, 0, .25);
  height: 100vh;
  top: 0;
}


/*==============================
 Header
================================*/
img.scribble {
  padding-left: 1rem;
  width: 14rem;
}

h1 {
 margin-top: -1rem;
 margin-bottom: -1rem;
 margin-left: 2rem;
 padding-top: 2rem;
}


/*==============================
 Input Form
================================*/
form.todo-item-form {
  display: inline;
}

.input-field {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 70%;
  width: 170pt;
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* not using at the moment but keep in case you change mind */
.submit-button {
/*  background-color: rgba(0, 0, 0, 1);
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70%;
  font-weight: bold;
  margin-left: .5rem;*/
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Black */
}

/*==============================
 X delete buttons
================================*/
button.delete-x {
  border: 0;
  margin-left: 1.5rem;
  margin-right: 1.3rem;
  font-style: bold;
  background-color: rgba(255, 254, 224, 0.001);
  cursor: pointer;
  font-size: 90%;
  font-weight: 700;
}

button.delete-x:hover {
  color: rgba(0, 0, 0, 0.7);
}

/*==============================
 ToDo List Item
================================*/
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  /*line-height: ;*/
}

.todo-item {
  cursor: pointer;
}



/*==============================
 Strike-through line
================================*/

/* The span makes the line fit the lenght of todo list item */
span {
  position: relative;
}

.strikethrough:before {
  content: '';
  position: absolute;
  height: 5px; /* the thickness of the line */
  top: 50%;
  margin-top: -0.5px;
  background: #000; /* the color of the line */
  left: -3.5px;
  width: 105%;
  animation: drawline 0.4s;
}
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes drawline {
      from {width: 0;}
      to {width: 105%;}
  }

  @keyframes drawline {
      from {width: 0;}
      to {width: 105%;}
  }


/*==============================
 Footer
================================*/
footer {
  color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 1%;
  padding-top: .5rem;
  padding-bottom: .3rem;
  font-size: 90%;
}

span.footerLink a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  padding-left: .5rem;
  /*font-weight: bold;*/
}

span.footerLink a:hover{
  color: rgba(0, 0, 0, 0.5);
}




