<html>
  <head>
    <title>ToDoodles</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">



  </head>

<body>
  <div class="container">


    <h1>It's (dayOfWeek)</h1>
    <h2> What are you doing today? </h2>

   <form action ="/addtask" method="POST">
     <input type="text" name="newtask" placeholder="add new task">
     <button> Add Task </button>

    <h2> Added Task </h2>
<button formaction="/removetask" type="submit"> Remove </button>
</form>
    <h2> Completed task </h2>
</div>







</body>

</html>
